*{
    margin: 0;
    padding: 0;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}
.game{
    position: relative;
    width: 100%;
    left: 70%;
    transform: translateX(-50%);
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 840px;
    height: 640px;
    margin: 10px;
    /* border: 5px solid cornflowerblue;   */
}

.game img:hover{
    opacity: 1.5;
    transform: scale(1.04);
}

img{
    height: 150px;
    width: 130px;
    /* max-width: 100%; */
    margin: 5px;
}

.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.topic{
    z-index: 10;
}